@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700&family=Days+One&family=Roboto:wght@300;400;500;700&family=Varela+Round&display=swap');
// @import "./scss/colors";
// Bootstrap
@import "./scss/bootstrap";
// Components
@import './scss/header';
@import './scss/footer';
@import './scss/pages';
@import './scss/card';
// Pages
@import "./scss/home";
@import './scss/about';
@import './scss/contact';
@import './scss/services';

// font-family: 'Baloo Bhai 2', cursive;
// font-family: 'Days One', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Varela Round', sans-serif;

.active {
  color: #000 !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #15a0c7;
}