.footer {
    background: #15a0c7;
    font-family: 'Baloo Bhai 2', cursive;
    padding: 12px 0;

    p {
        text-align: center;
        color: #fff;
        margin: 0;
        padding: 0;

        span {
            text-decoration: underline;
            cursor: pointer;
            color: #000;
            
            &:hover {
                color: #fff;
            }
        }
    }
}

.messenger {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 100;
    // color: rgb(85, 85, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px #000;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: #fff;
    animation: scale 2s infinite ease-in-out;

    .mIcon {
        font-size: 48px;
        cursor: pointer;
    }

    @keyframes scale {
        0% {
            transform: scale(1);
        }

        25% {
            transform: scale(1.1);
        }

        50% {
            transform: scale(1.2);
        }

        75% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }
}

@media only screen and (max-width:1000px) {

    .messenger {
        position: fixed;
        bottom: 65px;
        right: 20px;
        z-index: 100;
        // color: rgb(85, 85, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 5px #000;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #fff;
        animation: scale 2s infinite ease-in-out;

        .mIcon {
            font-size: 40px;
            cursor: pointer;
        }
    }

}